ul {
	margin: 0px;
	padding: 0px;
}

li {
	list-style-type: none;
	padding: 5px;
}

div {
	box-sizing: border-box;
}

label {
	padding-left: 5px; 
}

h3 {	
	padding-left: 5px; 
}

.alt-item {
	border-width: 1px 0px 0px 0px;
	border-style: solid;
	background-color: #aaaaaa;
}
