{% extends "base.html" %}

{% block content %}
	<div style="float:left;">
    	<h3 id='welcome-message'>Caixa de Entrada</h1>   
    </div>
    <div class="nav navbar navbar-inverse" style="float:right;">
    	<ul class="nav">
        <li><input type="file" id="files" name="file" style="margin-top:12px;" onchange="handleFileSelect(this)" /></li>
    		<li><a href="#">Upload file</a></li>        
    		<li><a href="#" onclick="handleProcessClick()">Process file</a></li>
    	</ul>   
    </div>
    <div id="progress_bar_partial"><div class="percent_partial">0%</div></div>
    <div id="progress_bar"><div class="percent">0%</div></div>
    <div id="file_content">...</div>
    <br style="clear:both;">
    <div id="folder-list" style="float:left;height:100%;width:20%;border:solid;border-width:1px;">
    	<ul class="custom-ul">
          <li id='message-topic'>Assunto 1</li>
          <li id='message-topic'>Assunto 2</li>
          <li id='message-topic'>Assunto 3</li>
          <li id='message-topic'>Assunto 4</li>
          <li id='message-topic'>Assunto 5</li>
          <li id='message-topic'>Assunto 6</li>
          <li id='message-topic'>Assunto 7</li>
          <li id='message-topic'>Assunto 8</li>
    		</ul> 
    </div>
    <div id="messages-container" style="float:left;height:100%;width:80%;border:solid;border-width:1px;">
    	<div id="message-list" class="custom-div" style="height:200px;width:100%;overflow:scroll;border:solid;border-width:1px;">
    		<ul class="custom-ul">
          {% if messages|count > 0 %}
            {% for message in messages %}
              {% if messages.index(message) % 2 == 0 %}
                <li id='message-item'>{{ message.subject }}</li>
              {% else %}
                <li id='message-item' class="alt-item">{{ message.subject }}</li>
              {% endif %}
          {% endfor %}
          {% else %}
            There are no messages in your inbox. Try uploading a mbox file.
          {% endif %}          
    		</ul> 
    	</div>
    	<div id="message-content" style="height:calc(100% - 200px);border:solid;border-width:1px;" >
    		<label>
        {% if messages|count > 0 %}
				  {{ messages[0].originalContent }}
        {% endif %}
    		</label>
    	</div>
    </div>
{% endblock %}

{% block javascript %}
    <script type="text/javascript"/>

  var reader;
  var progress = document.querySelector('.percent');
  var progress_partial = document.querySelector('.percent_partial');
  var content = document.getElementById('file_content');
  var file;
  var pos;
  var chunkSize;
  var fileId;

  function newGuid() {
    function S4() {
      return (((1+Math.random())*0x10000)|0).toString(16).substring(1); 
    }
    return (S4() + S4() + "-" + S4() + "-4" + S4().substr(0,3) + "-" + S4() + "-" + S4() + S4() + S4()).toLowerCase();
  }

  function abortRead() {
    reader.abort();
  }

  function errorHandler(evt) {
    switch(evt.target.error.code) {
      case evt.target.error.NOT_FOUND_ERR:
        alert('File Not Found!');
        break;
      case evt.target.error.NOT_READABLE_ERR:
        alert('File is not readable');
        break;
      case evt.target.error.ABORT_ERR:
        break; // noop
      default:
        alert('An error occurred reading this file.');
    };
  }

  function updateProgress(evt) {
    var fileContent = evt.target.result;
    
    if (evt.lengthComputable) {
      var percentLoadedPartial = Math.round((evt.loaded / evt.total) * 100);
      var percentLoaded = Math.round((pos / file.size) * 100);
      
      if (percentLoaded <= 100) {
        progress.style.width = percentLoaded + '%';
        progress.textContent = percentLoaded + '%';
      }
      if (percentLoadedPartial <= 100) {
        progress_partial.style.width = percentLoadedPartial + '%';
        progress_partial.textContent = percentLoadedPartial + '%';
      }
    }
  }

  function updateComplete(evt) {    
    if (evt.target.readyState == FileReader.DONE) {
      var fileContent = evt.target.result;

      if (!fileContent) {
          content.innerHTML = 'Envio finalizado!';          
      } else {
          pos = pos + chunkSize;          
          $.ajax({
              url: '/api/file',
              type: 'post',
              contentType: 'application/json',
              dataType: 'json',
              success: function (data, status, xhr) {
                if (pos <= file.size) {                  
                  readChunk(pos, chunkSize, file);                  
                }
              },
              error: function(xhr, status, error) { 
                alert(status + ': ' + error + '\n' + xhr.responseText); 
              },
              data: JSON.stringify({fileId: fileId, data : fileContent, position: pos})
          });   
      }      
    }
  }

  function encodeMessages(messages) {
    return '{"data":"'+ messages +'"}';
  }

  function handleFileSelect(evt) {
    progress.style.width = '0%';
    progress.textContent = '0%';
    
    progress_partial.style.width = '0%';
    progress_partial.textContent = '0%';

    reader = new FileReader();
    reader.onerror = errorHandler;
    reader.onprogress = updateProgress;
    reader.onloadend = updateComplete;
    reader.onabort = function(e) {
      alert('File read cancelled');
    };
    reader.onloadstart = function(e) {
      document.getElementById('progress_bar').className = 'loading';
      document.getElementById('progress_bar_partial').className = 'loading';
    };   

    file = evt.files[0];
    fileId = newGuid();
    pos = 0;    
    chunkSize = 1024 * 128;
    readChunk(pos, chunkSize, file);
  }

  function readChunk() {
    if (pos < file.size && pos + chunkSize > file.size) {
      chunkSize = file.size - pos;
    }
    var blob = file.slice(pos, pos + chunkSize);      
    reader.readAsText(blob);    
  }

  function handleProcessClick() {
    $.ajax({
        url: '/api/file/process',
        type: 'post',
        contentType: 'application/json',
        dataType: 'json',
        success: function (data, status, xhr) {
          messages = JSON.parse(data);
          alert(messages.length + ' messages encoutered!');
        },
        error: function(xhr, status, error) { 
          alert(status + ': ' + error + '\n' + xhr.responseText); 
        },
        data: JSON.stringify({fileId: fileId})
    });   
  }

  </script>
{% endblock %}